serve:
  ip: "127.0.0.1"
  addr: "8888"
mysql:
  path: 127.0.0.1
  port: "3306"
  config: charset=utf8mb4&parseTime=True&loc=Local
  db-name: gin-example
  username: root
  password: root
  prefix: ""
  singular: false
  engine: ""
  max-idle-conns: 10
  max-open-conns: 100
  log-mode: error
  zap-log-level: error
zap:
  level: info
  prefix: ''
  format: json
  director: log
  encode-level: LowercaseLevelEncoder
  stacktrace-key: stacktrace
  max-age: 0
  show-line: true
  log-in-console: true
redis:
  db: 0
  addr: 127.0.0.1:6379
  password: ""